<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/js/handlebars.min.js"></script>
<!-- 	 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script> -->
<!-- 	 <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> -->
</head>
<body>
	{{content}}
	xcxdfdf	fghfhgffhffhfgh
	dfdfdf
	

<div id ="content"></div>
<script type="text/x-handlebars-template" id="listTemplate">
  <li style="list-style:none;">
     <div>게시자 : {{name}}</div>
     <div class="content">{{content}}</div>
     <div>좋아요 갯수 :<span> {{like}} </span></div>
     <div class="comment">
       <div>{{comment}}</div>
     </div>
  </li>
</script>
<script>
//데이터 소스
  var data = {
    "id": 88,
    "name": "kchoi",
    "content": "새로운글을 올렸어요",
    "like": 5,
    "comment": "댓글입니다"
  };

//템플릿을 얻어오는 부분
  var template = document.querySelector("#listTemplate").innerHTML;
//handlebars 라이브러리가 제공하는 Handlebars의 compile 메소드를 이용.
//해당 메소드는 template을 받아서 어떤 함수를 리턴함.
//이 함수는 Object를 받으면 거기에 있는 key-value를 템플릿과 매치시킴.
  var bindTemplate = Handlebars.compile(template);
//예제
  console.log(bindTemplate(data));
</script>

</html>
</body>
</html>